src/main/resources/passwordVault.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://tempuri.org/"
           targetNamespace="https://tempuri.org/" elementFormDefault="qualified">

    <!--- TYPES DEFINITION -->

    <xs:complexType name="keyandvalue">
        <xs:sequence>
            <xs:element name="key" type="xs:string"/>
            <xs:element name="value" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfKeyAndValue">
        <xs:sequence>
            <xs:element name="KeyAndValue" maxOccurs="unbounded" type="tns:keyandvalue"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="PasswordQueryFormat">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Exact"/>
            <xs:enumeration value="Regexp"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PasswordRequest">
        <xs:sequence>
            <xs:element name="AppID" type="xs:string" minOccurs="1"/>
            <xs:element name="Safe" type="xs:string" minOccurs="0"/>
            <xs:element name="Folder" type="xs:string" minOccurs="0"/>
            <xs:element name="Object" type="xs:string" minOccurs="0"/>
            <xs:element name="UserName" type="xs:string" minOccurs="0"/>
            <xs:element name="Address" type="xs:string" minOccurs="0"/>
            <xs:element name="Database" type="xs:string" minOccurs="0"/>
            <xs:element name="PolicyID" type="xs:string" minOccurs="0"/>
            <xs:element name="Reason" type="xs:string" minOccurs="0"/>
            <xs:element name="ConnectionTimeout" type="xs:string" minOccurs="0" default="30"/>
            <xs:element name="Query" type="xs:string" minOccurs="0"/>
            <xs:element name="QueryFormat" type="tns:PasswordQueryFormat" default="Exact" minOccurs="0" nillable="true"/>
            <xs:element name="Attributes" type="tns:ArrayOfKeyAndValue" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PasswordResponse">
        <xs:sequence>
            <xs:element name="Content" type="xs:string" minOccurs="1"/>
            <xs:element name="UserName" type="xs:string" minOccurs="1"/>
            <xs:element name="Address" type="xs:string" minOccurs="0"/>
            <xs:element name="Database" type="xs:string" minOccurs="0"/>
            <xs:element name="PolicyID" type="xs:string" minOccurs="0"/>
            <xs:element name="Properties" type="tns:ArrayOfKeyAndValue" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!--- END TYPES DEFINITION -->

    <!-- BEGIN PASSWORD OPERATIONS -->

    <xs:element name="GetPassword">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="passwordWSRequest" type="tns:PasswordRequest" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetPasswordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GetPasswordResult" type="tns:PasswordResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- END PASSWORD OPERATIONS -->

</xs:schema>